# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret for Session Signatures
JWT_SECRET=supersecretcybersecuritytokenkeychangeinproduction1337

# Default Admin Login (Will be inserted into DB on first run if empty)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
